body {
    margin-left: 50px;
    margin-right: 75px;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
}

p.score {
    font-size: 32px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;

}

button {
    font-size: 50px;
    transition-duration: 0.4ms;

}

button:hover {
    background: grey;
    color: white;
}


.results {
    display: flex;
    flex-flow: column;
    align-items: center;

}

#results {
    font-size: 50px;
    font-weight: bold;
}
.player {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.computer {
    display: flex;
    flex-flow: column;
    align-items: center;

}